<h1>TODOアプリ</h1>
<% if logged_in? %>
  <h2>タスク一覧</h2>
  <%= link_to "ログアウト", logout_path, method: :delete %> 
  <% if @user.major_tasks.any? %>
    <% @user.major_tasks.each do |major_task| %>
      <div>
        <div style="display: inline-block; vertical-align: top;">
          <p><%= major_task.text %></p>
        </div>
        <div style="display: inline-block; vertical-align: top;">
          <% MajorTask.find(major_task.id).sub_tasks.each do |sub_task| %>
            <div>
              <div style="display: inline-block; vertical-align: top;">
                <p><%= sub_task.text %></p>
              </div>
              <div style="display: inline-block; vertical-align: top;">
                <% SubTask.find(sub_task.id).detail_tasks.each do |detail_task| %>
                  <p><%= detail_task.text %></p>
                  <div id="detail-task-form" style="display: none;">
                    <%= form_for :sub_task, url: sub_task_detail_tasks_path(sub_task) do |f| %>
                      <p>
                        <%= f.text_field :text, placeholder: '小タスク' %>
                      </p>
                      <p>
                        <%= f.date_field :start_date %>
                      </p>
                      <p>
                        <%= f.date_field :end_date %>
                      </p>
                      <p>
                        <%= f.number_field :time_duration %>
                      </p>
                      <p>
                        <%= f.submit %>
                      </p>
                    <% end %>
                  </div>
                  <p id="show-detail-task-form">
                    <input type="button" value="+"
                      onClick=
                        "document.getElementById('detail-task-form').style.display = 'inline-block'; 
                          document.getElementById('no-show-detail-task-form').style.display = 'inline-block';
                          document.getElementById('show-detail-task-form').style.display = 'none';">
                  </p>
                  <p id="no-show-detail-task-form" style="display: none;">
                    <input type="button" value="x"
                      onClick=
                      "document.getElementById('detail-task-form').style.display = 'none';
                        document.getElementById('show-detail-task-form').style.display = 'inline-block';
                        document.getElementById('no-show-detail-task-form').style.display = 'none';">
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div id='subTaskForm<%= major_task.id %>' style='display: none;'>
          <%= form_for ([MajorTask.find(major_task.id), MajorTask.find(major_task.id).sub_tasks.build]) do |f| %>
            <p>
              <%= f.text_field :text, placeholder: '中タスク' %>
            </p>
            <p>
              <%= f.date_field :start_date %>
            </p>
            <p>
              <%= f.date_field :end_date %>
            </p>
            <p>
              <%= f.number_field :time_duration %>
            </p>
            <p>
              <%= f.submit %>
            </p>
          <% end %>
        </div>
        <p id="showSubTaskForm<%= major_task.id%>">
        <input type="button" value="+"
          onClick='showSubtask(<%= major_task.id %>)'></p>
        <p id="hideSubTaskForm<%= major_task.id %>" style="display: none;">
          <input type="button" value="x"
            onClick='hideSubTask(<%= major_task.id %>)'></p>
        </div>
      </div>  
    <% end %>
  <% end %>
  <%= form_for ([@user, @user.major_tasks.build]) do |f| %>
    <p>
      <%= f.text_field :text, placeholder: '大タスク' %>
    </p>
    <p>
      <%= f.date_field :start_date %>
    </p>
    <p>
      <%= f.date_field :end_date %>
    </p>
    <p>
      <%= f.number_field :time_duration %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  <p>タスクの管理ができるアプリです。まずはSign up / ログインをしてください。</p>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "ログイン", login_path%>
<% end %>

<script>
  
  function showSubtask(majorTaskId) {
    let subTaskFormId = 'subTaskForm' + majorTaskId;
    let showSubTaskForm = 'showSubTaskForm' + majorTaskId;
    let hideSubTaskForm = 'hideSubTaskForm' + majorTaskId;
    document.getElementById('subTaskForm' + majorTaskId).style.display = 'inline-block'; 
    document.getElementById('showSubTaskForm' + majorTaskId).style.display = 'none';
    document.getElementById('hideSubTaskForm' + majorTaskId).style.display = 'inline-block';
  }

  function hideSubTask(majorTaskId) {
    let subTaskFormId =  'subTaskForm' + majorTaskId;
    let showSubTaskForm = 'showSubTaskForm' + majorTaskId;
    let hideSubTaskForm = 'hideSubTaskForm' + majorTaskId;
    document.getElementById('subTaskForm' + majorTaskId).style.display = 'none';
    document.getElementById('showSubTaskForm' + majorTaskId).style.display = 'inline-block';
    document.getElementById('hideSubTaskForm' + majorTaskId).style.display = 'none';
  }

</script>