<h1 style="margin-left: 25px;">タスク一覧</h1>
<div class="task-list-layout">
  <% if logged_in? %>
    <div id="task-list" class="task-list">
      <% if @user.major_tasks.any? %>
        <%= render partial: 'major_tasks/major_task_section', collection: @user.major_tasks, as: :major_task %>
      <% end %>
    </div>
    <div class="add-major-task-field">
      <button class="show-sub-task-button" id="showMajorTaskForm" type="button" style="margin-top: 8px;"
        onClick='showMajorTaskForm()'>リストを追加</button>
      <div class="" id="majorTaskForm" style='display: none;'>
        <%= form_for @major_task, url: user_major_tasks_path(@user), remote: true do |form| %>
          <%= form.text_area :text, placeholder: '大タスク', class: "sub-task-text-input", rows: "3" %>
          <div class="sub-task-option-field">
            <div><%= form.date_field :start_date, class: "sub-task-date-input" %></div>
            <div>~</div>
            <div><%= form.date_field :end_date, class: "sub-task-date-input" %></div>
          </div>
          <div class="sub-task-button-field">
            <%= form.submit "追加", class: "add-task-button" %>
          </div>
        <% end %>
            <button class="hide_button" id="hideMajorTaskForm" style="display: none;" type="button"
              onClick='hideMajorTaskForm()'>✖️</button>
      </div>
    </div>
  <% end %>
</div>

<% if logged_in? %>
  <div style="margin: 50px 30px;">
    <h1>ふりかえり</h1>
    <div class="day-task-box">
      <p class="date-field" id="date"></span>
      <% if @sub_task_list_today.any? %>
        <% @sub_task_list_today.each_with_index do |sub_task_today, i| %>
          <% if i > 0 && @sub_task_list_today[i-1].major_task_id != @sub_task_list_today[i].major_task_id %>
            <p class="major-task-name-day"><%= MajorTask.find(@sub_task_list_today[i].major_task_id).text %></p>
            <div id=sub-task-list-day-<%= @sub_task_list_today[i].major_task_id %>>
              <%= render partial: 'sub_tasks/sub_task_section_day', locals: {sub_task_today: sub_task_today } %>
            </div>
          <% else %>
            <% if i == 0 %>
              <p class="major-task-name-day"><%= MajorTask.find(@sub_task_list_today[i].major_task_id).text %></p>
              <div id=sub-task-list-day-<%= @sub_task_list_today[i].major_task_id %>>
                <%= render partial: 'sub_tasks/sub_task_section_day', locals: {sub_task_today: sub_task_today } %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<script> 
  var now = new Date();
  var year = now.getFullYear();
  var month = now.getMonth()+1; 
  var date = now.getDate();
  var day = now.getDay(); 

  document.getElementById("date").innerHTML = getToday() 
  function getToday() {
  	var day_of_the_week = new Array("日","月","火","水","木","金","土");
    var today = month + "/" + date + "日(" + day_of_the_week[day] + ")"; 
    // for (let i = 1; i <= 2; i++ ) {
    //   date = date + 1
    //   document.getElementById("date"+i).innerHTML = month + "/" + date + "日(" + day_of_the_week[day] + ")";
    // }
    return today;
  }
  
  function showMajorTaskForm() {
    document.getElementById('majorTaskForm').style.display = 'inline-block'; 
    document.getElementById('showMajorTaskForm').style.display = 'none';
    document.getElementById('hideMajorTaskForm').style.display = 'inline-block';
  }

  function hideMajorTaskForm() {
    document.getElementById('majorTaskForm').style.display = 'none';
    document.getElementById('showMajorTaskForm').style.display = 'inline-block';
    document.getElementById('hideMajorTaskForm').style.display = 'none';
  }

  function showSubTaskForm(majorTaskId) {
    document.getElementById('subTaskForm' + majorTaskId).style.display = 'inline-block'; 
    document.getElementById('showSubTaskForm' + majorTaskId).style.display = 'none';
    document.getElementById('hideSubTaskForm' + majorTaskId).style.display = 'inline-block';
  }

  function hideSubTask(majorTaskId) {
    document.getElementById('subTaskForm' + majorTaskId).style.display = 'none';
    document.getElementById('showSubTaskForm' + majorTaskId).style.display = 'inline-block';
    document.getElementById('hideSubTaskForm' + majorTaskId).style.display = 'none';
  }

  function showDetailTaskForm(subTaskId) {
    document.getElementById('detailTaskForm' + subTaskId).style.display = 'inline-block'; 
    document.getElementById('showDetailTaskForm' + subTaskId).style.display = 'none';
    document.getElementById('hideDetailTaskForm' + subTaskId).style.display = 'inline-block';
  }

  function hideDetailTaskForm(subTaskId) {
    document.getElementById('detailTaskForm' + subTaskId).style.display = 'none';
    document.getElementById('showDetailTaskForm' + subTaskId).style.display = 'inline-block';
    document.getElementById('hideDetailTaskForm' + subTaskId).style.display = 'none';
  }

  function showDetailTaskFormDay(subTaskId) {
    document.getElementById('detailTaskFormDay' + subTaskId).style.display = 'inline-block'; 
    document.getElementById('showDetailTaskFormDayButton' + subTaskId).style.display = 'none';
    document.getElementById('hideDetailTaskFormDayButton' + subTaskId).style.display = 'inline-block';
  }

  function hideDetailTaskFormDay(subTaskId) {
    document.getElementById('detailTaskFormDay' + subTaskId).style.display = 'none';
    document.getElementById('showDetailTaskFormDayButton' + subTaskId).style.display = 'inline-block';
    document.getElementById('hideDetailTaskFormDayButton' + subTaskId).style.display = 'none';
  }

</script>