<h1>TODOアプリ</h1>
<% if logged_in? %>
  <h2>タスク一覧</h2>
  <%= link_to "ログアウト", logout_path, method: :delete %> 
  <% if @user.major_tasks.any? %>
    <% @user.major_tasks.each do |major_task| %>
      <div>
        <div class='major-task-field' style="display: inline-block; vertical-align: top;">
          <%= major_task.text %>
          <input id="showSubTaskForm<%= major_task.id%>" type="button" value="+"
            onClick='showSubTaskForm(<%= major_task.id %>)'>
          <input id="hideSubTaskForm<%= major_task.id %>" style="display: none;" type="button" value="x"
            onClick='hideSubTask(<%= major_task.id %>)'>
        </div>
        <div style="display: inline-block; vertical-align: top;">
          <% MajorTask.find(major_task.id).sub_tasks.each do |sub_task| %>
            <div>
              <div class='sub-task-field' style="display: inline-block; vertical-align: top;">
                <%= sub_task.text %>
                <input id="showDetailTaskForm<%= sub_task.id %>" type="button" value="+"
                  onClick='showDetailTaskForm(<%= sub_task.id %>)'>
                <input id="hideDetailTaskForm<%= sub_task.id %>" style="display: none;" type="button" value="x"
                  onClick='hideDetailTaskForm(<%= sub_task.id %>)'>
              </div>
              <div class='detail-task-field' style="display: inline-block; vertical-align: top;">
                <% SubTask.find(sub_task.id).detail_tasks.each do |detail_task| %>
                  <p><%= detail_task.text %></p>
                <% end %>
                <div id="detailTaskForm<%= sub_task.id %>" style="display: none;">
                  <%= form_for :detail_task, url: sub_task_detail_tasks_path(sub_task) do |f| %>
                    <p>
                      <%= f.text_field :text, placeholder: '小タスク' %>
                    </p>
                    <p>
                      <%= f.date_field :date %>
                    </p>
                    <p>
                      <%= f.number_field :time_duration %>
                    </p>
                    <p>
                      <%= f.submit %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div id='subTaskForm<%= major_task.id %>' style='display: none;'>
            <%= form_for ([MajorTask.find(major_task.id), MajorTask.find(major_task.id).sub_tasks.build]) do |f| %>
              <p>
                <%= f.text_field :text, placeholder: '中タスク' %>
              </p>
              <p>
                <%= f.date_field :start_date %>
              </p>
              <p>
                <%= f.date_field :end_date %>
              </p>
              <p>
                <%= f.number_field :time_duration %>
              </p>
              <p>
                <%= f.submit %>
              </p>
            <% end %>
          </div>
        </div>
        </div>
      </div>  
    <% end %>
  <% end %>
  <%= form_for ([@user, @user.major_tasks.build]) do |f| %>
    <p>
      <%= f.text_field :text, placeholder: '大タスク' %>
    </p>
    <p>
      <%= f.date_field :start_date %>
    </p>
    <p>
      <%= f.date_field :end_date %>
    </p>
    <p>
      <%= f.number_field :time_duration %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  <p>タスクの管理ができるアプリです。まずはSign up / ログインをしてください。</p>
  <%= link_to "Sign up", new_user_path %>
  <%= link_to "ログイン", login_path%>
<% end %>

<h1>振り返り</h1>
<div class="day-task-box" style="display: inline-block; vertical-align: top;">
  <span id="date1"></span>
  <% if logged_in? %>
    <% if @sub_task_list_today.any? %>
      <div class="major_task_box">
        <p><%= MajorTask.find(@sub_task_list_today.first.major_task_id).text %></p>
        <% @sub_task_list_today.each do |sub_task_today| %>
          <div class="sub-task-box">
            <p><%= sub_task_today.text %></p>
            <ul>
              <% SubTask.find(sub_task_today.id).detail_tasks.each do |detail_task_day| %>
                <li><%= detail_task_day.text %></li>
              <% end %>
              <input id="showDetailTaskFormDayButton<%= sub_task_today.id %>" type="button" value="やったことを追加"
                onClick='showDetailTaskFormDay(<%= sub_task_today.id %>)'>
              <div id='detailTaskFormDay<%= sub_task_today.id %>' style='display: none;'>
                <%= form_for ([SubTask.find(sub_task_today.id), SubTask.find(sub_task_today.id).detail_tasks.build]) do |f| %>
                  <span>
                    <%= f.text_field :text, placeholder: 'やったこと' %>
                    <%= f.number_field :time_duration %>
                  </span>
                  <span>
                    <%= f.submit %>
                  </span>
                <% end %>
                <input id="hideDetailTaskFormDayButton<%= sub_task_today.id %>" type="button" value="✖️"
                  onClick='hideDetailTaskFormDay(<%= sub_task_today.id %>)'>
              </div>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>


<script> 
  var now = new Date();
  var year = now.getFullYear();
  var month = now.getMonth()+1; 
  var date = now.getDate();
  var day = now.getDay(); 

  document.getElementById("date").innerHTML = getToday() 
  function getToday() {
  	var day_of_the_week = new Array("日","月","火","水","木","金","土");
    var today = month + "/" + date + "日(" + day_of_the_week[day] + ")"; 

    for (let i = 1; i <= 2; i++ ) {
      date = date + 1
      document.getElementById("date"+i).innerHTML = month + "/" + date + "日(" + day_of_the_week[day] + ")";
    }
    return today;
  }

  function showSubTaskForm(majorTaskId) {
    document.getElementById('subTaskForm' + majorTaskId).style.display = 'inline-block'; 
    document.getElementById('showSubTaskForm' + majorTaskId).style.display = 'none';
    document.getElementById('hideSubTaskForm' + majorTaskId).style.display = 'inline-block';
  }

  function hideSubTask(majorTaskId) {
    document.getElementById('subTaskForm' + majorTaskId).style.display = 'none';
    document.getElementById('showSubTaskForm' + majorTaskId).style.display = 'inline-block';
    document.getElementById('hideSubTaskForm' + majorTaskId).style.display = 'none';
  }

  function showDetailTaskForm(subTaskId) {
    document.getElementById('detailTaskForm' + subTaskId).style.display = 'inline-block'; 
    document.getElementById('showDetailTaskForm' + subTaskId).style.display = 'none';
    document.getElementById('hideDetailTaskForm' + subTaskId).style.display = 'inline-block';
  }

  function hideDetailTaskForm(subTaskId) {
    document.getElementById('detailTaskForm' + subTaskId).style.display = 'none';
    document.getElementById('showDetailTaskForm' + subTaskId).style.display = 'inline-block';
    document.getElementById('hideDetailTaskForm' + subTaskId).style.display = 'none';
  }

  function showDetailTaskFormDay(subTaskId) {
    document.getElementById('detailTaskFormDay' + subTaskId).style.display = 'inline-block'; 
    document.getElementById('showDetailTaskFormDayButton' + subTaskId).style.display = 'none';
    document.getElementById('hideDetailTaskFormDayButton' + subTaskId).style.display = 'inline-block';
  }

  function hideDetailTaskFormDay(subTaskId) {
    document.getElementById('detailTaskFormDay' + subTaskId).style.display = 'none';
    document.getElementById('showDetailTaskFormDayButton' + subTaskId).style.display = 'inline-block';
    document.getElementById('hideDetailTaskFormDayButton' + subTaskId).style.display = 'none';
  }

</script>