<section class="section-field">
  <div class="section-logo">
    <%= image_tag 'logo-name.png', alt: "Pille logo", width: "180px" %>
  </div>
  <div class="box-frame">
    <div class="box-frame-title">
      <h2>ログイン</h2>
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-field">
        <%= f.email_field :email, placeholder: 'メールアドレス', class: "form-section" %>
      </div>
      <div class="form-field">
        <%= f.password_field :password, placeholder: 'パスワード', class: "form-section" %>
      </div>
      <%= f.submit "ログイン", class: "form-button" %>
    <% end %>
  </div>
</section>
